h4, h5, h6,
h1, h2, h3 {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

html, body {
    font-family: '微软雅黑', sans-serif;
    font-size: 100%;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

body {
    padding-top: 0px;
    background: #fff;
}

a:focus {
    outline: thin dotted;
    outline: 1px auto -webkit-focus-ring-color;
    outline-offset: 1px;
    text-decoration: none;
}

/*-- header_top --*/
.sidebar {
    background: rgba(110, 202, 220, 0.6);
    top: 0px;
    padding: 2em 30px;
}

.sidebar h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 1em;
    color: #fff;
    font-family: '微软雅黑', sans-serif;

}

.sidebar img {
    border: 1px solid #fff;
    padding: 1em;
    width: 100%;
}

.details {
    margin-top: 1em;
}

.details h3 {
    font-weight: 600;
    font-size: 1em;
    color: #fff;
}


.details p {
    color: #101010;
    font-size: 0.9em;
    margin: 5px 0 2em 0;
}

.details p a {
    color: #101010;
    font-size: 0.9em;
}

address h3 {
    margin-bottom: 5px;
}

address span {
    display: block;
    color: #101010;
    font-size: 0.9em;
    line-height: 1.5em;
}

/*----*/
.main {
    padding: 2em 0;
    background: #fff;
}

.content {
    margin-right: 3em;
}
.content p{
    text-indent: 2em;
}
.hl {
    border-bottom: 3px dashed #999;
    padding-bottom: 1em;
}

.company, .skills, .works, .education {
    margin: 2em 0;
}

.company h3 {
    color: #FFF;
    padding: 5px 40px 5px 30px;
    display: inline-block;
}

.skills h3 {
    color: #FFF;
    padding: 5px 80px 5px 30px;
    display: inline-block;
}

.works h3 {
    color: #FFF;
    padding: 5px 120px 5px 30px;
    display: inline-block;
}

.education h3 {
    color: #FFF;
    padding: 5px 160px 5px 30px;
    display: inline-block;
}

h3.clr1 {
    background: #6ecadc;
}

h3.clr2 {
    background: #e9a820;
}

h3.clr3 {
    background: #3eb991;
}

h3.clr4 {
    background: #2c51b9;
}

.company_details, .education_details {
    padding: 1.5em 0 0em 2em;
}

.company_details h4, .education_details h4 {
    color: #333;
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 6px;
    font-family: 'Varela Round', sans-serif;
}

.company_details h4 span, .education_details h4 span {
    font-size: 0.65em;
    margin-left: 5px;
    color: #666;
    font-weight: 400;
}

.company_details h6, .education_details h6 {
    font-weight: 400;
    margin-bottom: 1.3em;
    font-size: 0.9em;
}

.company_details p, .skill_info p, .education_details p {
    color: #666;
    font-weight: 300;
    line-height: 1.7em;
}

.skill_info {
    padding: 1.5em 0 0 2em;
}

.skill_list {
    padding: 1.5em 0 0 2em;
}

.skill1, .skill2 {
    float: left;
    width: 30%;
}

.skill1 h4, .skill2 h4 {
    color: #333;
    font-weight: 600;
    margin-bottom: 1em;
    display: inline-block;
}

.skill1 ul, .skill2 ul {
    padding-left: 4em;
}

.skill1 ul li, .skill2 ul li {
    color: #333;
}

.item{
    margin:2em 0 0 2em;
    width: 220px;
    height: 220px;
    display: inline-block;
    background: #efefef;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 6px 10px 0 rgba(90, 153, 211, 0.4);
}
.item a{
    width: 100%;
    height: 100%;

    position: relative;
    display: table;
    overflow: hidden;
    text-decoration: none;
}
.item a .desc {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    background: #fff;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.item .desc h4 {
    font-size: 20px;
    color:#333;

    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;

}
.item .desc span {
    display: block;
    color: #666;
    font-size: 14px;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}
.item a:hover .desc{
    opacity: 0.9;
}
.item a:hover .desc h4{
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
}
.item a:hover .desc span{
    -webkit-transform: translate3d(0, 15px, 0);
    transform: translate3d(0, 15px, 0);
}
/*--responsive--*/
@media (max-width: 1366px) {
    .sidebar h1 {
        font-size: 2em;
    }
}

@media (max-width: 1024px) {
    .sidebar {
        padding: 2em 17px;
        width: 20%;
    }

    .sidebar h1 {
        font-size: 1.6em;
    }

    .main {
        margin-left: 19.666667%;
        width: 80%;
    }
    .item a .desc {
        background: none;
        opacity: 0.8;
    }
    .item a .desc h4{
        background: rgba(225, 225, 225, 0.8);
        line-height: 2em;
        font-size: 1em;
    }
    .item a .desc span{
        background: rgba(255,255,255,0.8);
        font-size: 0.75em;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 22%;
    }

    .main {
        margin-left: 21.666667%;
        width: 78%;
    }

    .sidebar h1 {
        font-size: 1.4em;
    }

    .sidebar img {
        padding: 0.5em;
        width: 89%;
    }

    .details_header {
        padding: 0em 1em 0 1em;
    }

    .details_header ul li a {
        padding: 0 1em;
        font-size: 0.9em;
    }

    .company h3, .skills h3, .education h3, works h3 {
        font-size: 1.2em;
    }

    .company_details h4, .education_details h4 {
        font-size: 1.1em;
    }

    .company_details h6, .education_details h6 {
        font-size: 0.8em;
    }

    .company_details p, .skill_info p, .education_details p {
        font-size: 0.8em;
    }

    .skill1, .skill2 {
        float: left;
        width: 50%;
    }

    .skill1 ul li, .skill2 ul li {
        font-size: 0.85em;
    }

    .skill1 h4, .skill2 h4 {
        font-size: 1em;
    }

    .skill_list {
        padding: 0.7em 0 0 2em;
    }

    .details p {
        font-size: 0.75em;
    }

    address span {
        font-size: 0.8em;
    }
    .item{
        margin: 1em 0 0 1em;
        width: 150px;
        height: 150px;
    }

}

@media (max-width: 736px) {
    .sidebar {
        width: 100%;
    }

    .main {
        margin-left: 0;
        width: 100%;
    }

    .sidebar_top {
        width: 30%;
        float: left;
        margin-right: 0%;
    }

    .details {
        width: 30%;
        float: right;
    }
}

@media (max-width: 640px) {
    .sidebar {
        width: 100%;
    }

    .main {
        margin-left: 0;
        width: 100%;
    }

    .sidebar_top {
        width: 30%;
        float: left;
        margin-right: 0%;
    }

    .details {
        width: 30%;
        float: right;
    }

    .sidebar img {
        width: 100%;
    }

    .details p {
        font-size: 0.9em;
        margin: 5px 0 1em 0;
    }

    .details h3 {
        font-size: 0.9em;
    }
}

@media (max-width: 600px) {
    address {
        margin-bottom: 0px;
    }

    .sidebar_top {
        width: 32%;
    }

    .sidebar img {
        width: 85%;
    }
}

@media (max-width: 568px) {
    .details_header ul li a {
        padding: 0 0.5em;
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .content {
        margin-right: 2em;
    }

    .details_header ul li a {
        padding: 0 0.5em;
        font-size: 0.85em;
    }

    .details {
        width: 36%;
    }

    .sidebar h1 {
        font-size: 1.3em;
    }

    .sidebar_top {
        width: 38%;
    }

    address {
        margin-bottom: 0px;
    }
    .item{
        margin: 1em 0 0 1em;
        width: 130px;
        height: 130px;
    }
}

@media (max-width: 414px) {
    .sidebar_top {
        width: 45%;
    }

    .sidebar img {
        width: 91%;
    }

    .details {
        width: 42%;
    }

    .details_header {
        padding: 0em 0em 0 1em;
    }

    .details_header ul li a {
        padding: 0 0.3em;
        font-size: 0.75em;
    }

    .skill1 ul, .skill2 ul {
        padding-left: 3em;
    }
    .item{
        margin: 1em 0 0 1em;
        width: 170px;
        height: 170px;
    }
}

@media (max-width: 384px) {
    .sidebar h1 {
        font-size: 1.2em;
    }

    .details {
        width: 48%;
    }

    .details_header ul {
        text-align: center;
    }

    .details_header ul li a {
        padding: 0 1em;
        font-size: 0.75em;
    }

    .main {
        padding: 1em 0 2em 0;
    }

    .company_details, .education_details, .skill_info {
        padding: 1em 0 0em 1em;
    }

    .company h3 {
        padding: 5px 41px 5px 16px;
    }

    .company_details h4, .education_details h4 {
        font-size: 0.9em;
    }

    .company_details h6, .education_details h6 {
        font-size: 0.6em;
    }

    .company {
        margin: 1em 0;
    }

    .skills {
        margin: 1em 0;
    }

    .company h3, .skills h3, .works h3, .education h3 {
        font-size: 1em;
    }

    .skills h3 {
        padding: 5px 98px 5px 16px;
    }

    .skill1 ul, .skill2 ul {
        padding-left: 2em;
    }

    .skill1 ul li, .skill2 ul li {
        font-size: 0.75em;
    }

    .skill_list {
        padding: 0.5em 0 0 1.5em;
    }

    .education h3 {
        padding: 5px 190px 5px 16px;
    }


}

@media (max-width: 375px) {
    .sidebar h1 {
        font-size: 1em;
    }

    .sidebar img {
        width: 70%;
    }

    .details h3 {
        font-size: 0.8em;
    }

    .details p {
        font-size: 0.75em;
        margin: 5px 0 0.5em 0;
    }

    address span {
        font-size: 0.7em;
    }

    .sidebar {
        padding: 1.5em 17px 1em 17px;
    }

    .details_header {
        padding: 0em 0em 0 1em;
        text-align: center;
    }

    .details_header ul li a {
        line-height: 2em;
    }
    .item{
        margin: 1em 0 0 1em;
        width: 144px;
        height: 144px;
    }
}

@media (max-width: 320px) {
    .sidebar_top {
        width: 50%;
    }

    .sidebar img {
        width: 80%;
    }

    .details h3 {
        font-size: 0.7em;
    }

    .content {
        margin-right: 1em;
    }

    .details_header ul li a {
        padding: 0 0.5em;
        font-size: 0.75em;
    }

    .skill1 h4, .skill2 h4 {
        font-size: 0.85em;
    }

    .skill1 ul, .skill2 ul {
        padding-left: 1.5em;
    }
    .item{
        margin: 1em 0 0 1em;
        width: 130px;
        height: 130px;

    }
}